*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    font-size: 106.5%;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
header{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}
.main-container{
    width: 1200px;
    margin: 0 auto;
}
.header-work{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo-image{
    width: 100%;
}
.logo-image img{
    width: 150px;
}
.nav-work{
    display: flex;
    width: 100%;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
}
.list-work{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.list-work li{
    font-size: 1rem;
    text-transform: capitalize;
}
.list-work li a{
    color: #fff;
}

/* ----banner--- */

.banner-image{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 600px;
    background-image: url(./images/banner.avif);
    top: 0;
}

.banner-image::after{
    content: "0";
    background: #000;
    position: absolute;
    height: 600px;
    z-index: 1;
    width: 100%;
    top: 0;
    opacity: 0.5;
}
.video{
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;
  }
.video-img-list{
    width: 100%;
}
.video-img-list li{
    width: 100%;
}
.video-img-list li img{
    width: 100%;
}

.banner-text{
    z-index: 2;
    position: relative;
    text-align: center;
    color: #fff;
}
.css-text{
    width: 100%;
    padding-top: 20%;
}
.banner-text h1{
    font-weight: lighter;
    font-family: 'raleway',sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.8rem;

}
.banner-text p{
    font-size: 1.3rem;
    color: #aaa;
    margin-top: 1rem;
}
.button{
    margin-top: 3rem;
}
.button a{
    color: #fff;
    border: 1px solid #F24259;
    border-radius: 5px;
    padding: 7px 21px;
    background: #F24259;
    font-size: 1rem;    
    font-weight: lighter;
}
.icons-banner{
    width: 100%;
    background: #f1f1f1;
    height: 650px;
}
.resto-level{
    width: 100%;
    padding-top: 7%;
}
.restro-typo{
    width: 100%;
    display: flex;
}
.flex-wrap{
    width: 100%;
    display: flex;
}
.icons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.resto-level h1{
    margin-bottom: 60px;
    font-size: 2rem;
    color: #dc3545;
    font-weight: lighter;
    border-bottom: 1px solid wheat;
    display: inline-block;
}
.icons li{
    width: 32%;
    height: 200px;
    text-align: center;
    background: #fefefe;
    border-radius: 10px;
    margin-bottom: 20px;
}
.icons li i{
    font-size: 2.5rem;
    padding-top: 25px;
    text-align: center;
    height: 90px;  
    transition: .2s all ease-in;
    color: #F24259;
}
.icons li i:hover{
    color: #000;
}
.icons-text{
    width: 100%;
}
.flex-texts{
    width: 100%;
    margin-bottom: 20px;
}
.flex-texts h3{
    font-weight: lighter;
}
.flex-texts p{
    color: grey;
    letter-spacing: 1px;
    margin-top: 14px;
    padding: 0 10px;
}